body{
	  padding: 25px;
	  background: url("bg.jpg");
	  background-repeat: no-repeat;
	  background-size: cover;
}
.form{
	padding-top: 5px;
	margin: auto;
	background-color: none;
	height: 400px;
	width: 300px;
	border: 1px solid white;
	border-radius: 5px;
}
.title{
	text-align: center;
	color: white;
}
.form-data{
	padding: 20px;
}
label{
	font-weight: bold;
	color: white;
}
input{
	margin-bottom: 10px;
	border-radius: 5px;
	background: none;
	border: 1px solid white;
	color: white;
	padding: 5px;
}
.btn{
	padding: 5px;
}